.About {

  &__description {
    border: 1px solid var(--color-border-a);
    border-top: 0;
    padding: 25px;
  }

  &__bio {
    border: solid var(--color-border-a);
    border-width: 0 1px;
    display: flex;

    &-text {
      border-right: 1px solid var(--color-border-a);
      padding: 50px;

      > p {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-pic {
      padding: 25px;

      &-wrap {
        position: relative;
        display: inline-block;
        border: 1px solid var(--color-border-a);

        > img {
          display: block;
          width: auto;
          height: 250px;
        }

        > span {
          position: absolute;
          bottom: -20px;
          left: -15px;
          font-size: 14px;
          font-family: var(--font-b);
          z-index: -1000;
        }
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    &-section {
      padding: 50px;
      border: 1px solid var(--color-border-a);
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid var(--color-border-a);
      }

      &-heading {
        position: relative;
        margin-bottom: 50px;

        > div {
          position: absolute;
          top: -11px;
          left: -10px;
          font-size: 15px;
          font-family: var(--font-b);
          z-index: -1000;
        }

        > h2 {
          display: inline-block;
          background-color: var(--color-a);
          padding: 4px 6px;
          color: var(--color-heading-b);
        }
      }

      > h3 {
        margin-bottom: 20px;
      }

      > ul {
        margin-bottom: 50px;

        &:last-child {
          margin-bottom: 0;
        }

        > li {
          line-height: 1.5;
        }
      }

      &-xp {
        margin-bottom: 50px;

        &:last-child {
          margin-bottom: 0;
        }

        > h4 {
          display: flex;
          gap: 10px;
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 5px;

          > span {
            &:first-child {
              &::after {
                content: ' - ';
              }
            }
          }
          
        }

        > ul {
          margin-bottom: 35px;

          &:last-child {
          margin-bottom: 0;
        }

          > li {
            line-height: 1.5;
            font-size: 12px;

            &::before {
              content: '▪';
              font-size: 8px;
              color: var(--color-a);
              margin-right: 6px;
              vertical-align: 2px;
            }
          }
          
        }

        &-date {
          color: var(--color-text-a-tint);
        }

      }
    }
  }
}

@media (max-width: 850px) {

  .About {

    &__bio {
      flex-direction: column;
  
      &-text {
        border-right: 0;
        border-bottom: 1px solid var(--color-border-a);
        padding: 25px;
      }
  
      &-pic {
        text-align: center;
      }
    }

    &__details {

      &-section {
        padding: 25px;

        &-xp {

          > h4 {
            flex-direction: column;
            gap: 5px;

            > span {
              &:first-child {
                &::after {
                  content: '';
                }
              }
            }
          }

        &-date {
          font-size: 12px;
        }
        }
      }
    }

  }
}