.Index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__intro {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    
    > h1 {
      position: relative;
      font-size: 48px;
      line-height: 1.3;

      .Index__intro-highlight {
        position: relative;
        
        &::before {
          position: absolute;
          bottom: 35%;
          left: -10%;
          content: '';
          background: var(--color-a);
          opacity: .25;
          width: 112%;
          height: 30%;
          border-radius: 5px / 3px 15px;
          transform: rotate(-2deg);
          z-index: -1000;
        }
      }

      .Index__intro-icon {
        position: absolute;
        margin-left: 10px;
        
        > svg {
          width: 55px;
          height: 55px;
          fill: var(--color-a);
        }
      }
    }
  }

  &__skills {
    margin-top: 100px;
    
    > ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 800px;

      > li {
        display: inline-flex;
        align-items: center;
        font-size: 14px;

        > svg {
          height: 15px;
          margin-right: 5px;
        }
      }
    }
  }

}