.Index {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__print-marks-x {

      &-mark {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 1px;
        background: var(--color-bg-b);

        &:nth-child(2) {
          left: auto;
          right: 0;
        }

        &:nth-child(3) {
          top: auto;
          left: auto;
          right: 0;
          bottom: 0;
        }

        &:nth-child(4) {
          top: auto;
          bottom: 0;
        }
      }
    }

    &__print-marks-y {

      &-mark {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 20px;
        background: var(--color-bg-b);

        &:nth-child(2) {
          left: auto;
          right: 0;
        }

        &:nth-child(3) {
          top: auto;
          left: auto;
          bottom: 0;
          right: 0;
        }

        &:nth-child(4) {
          top: auto;
          bottom: 0;
        }
      }
    }

  &__intro {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    
    > h1 {
      position: relative;
      font-size: 48px;
      line-height: 1.3;

      .Index__intro-highlight {
        position: relative;
        color: var(--color-heading-b);

        &::before {
          content: '';
          position: absolute;
          left: -2%;
          top: 14%;
          background: var(--color-a);
          width: 104%;
          height: 72%;
          z-index: -1000;
        }
      }

      .Index__intro-icon {
        position: absolute;
        margin-left: 10px;
        
        > svg {
          width: 55px;
          height: 55px;
          fill: var(--color-a);
        }
      }
    }
  }

  &__skills {
    margin-top: 100px;
    
    > ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 800px;

      > li {
        display: inline-flex;
        align-items: center;
        font-size: 14px;

        > svg {
          height: 15px;
          margin-right: 5px;
          fill: var(--color-a);
        }
      }
    }
  }

}