.Nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
  margin: 0 auto;
  padding-top: 25px;

  &__logo {
    font-size: 24px;
  }

  &__links {
    font-size: 14px;

    > li {
      display: inline;
      padding-right: 40px;

      &:last-child {
        padding-right: 0;
      }
    }
  } 

  a {
    color: var(--color-nav-a);

    &:hover {
      position: relative;
      color: var(--color-nav-a-hover);

      &:before {
        content: '';
        position: absolute;
        height: 120%;
        width: 120%;
        top: -10%;
        left: -10%;
        background-color: var(--color-bg-b);
        z-index: -1000;
      }
    }
  }
}