.PageHeader {
  
  &__header {
    position: relative;
    padding: 30px;
    border: 1px solid var(--color-border-a);
    
    &-particle {
      position: absolute;
      top: 12px;
      right: 15px;
      font-size: 14px;
    }
    
    &-heading {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 14px 16px;

      &-corners {

        > div {
          position: absolute;
          width: 10px;
          height: 10px;
          border: 1px solid var(--color-border-a);

          &:nth-child(1) {
            top: 0;
            left: 0;
            border-right: none;
            border-bottom: none;
          }

          &:nth-child(2) {
            top: 0;
            right: 0;
            border-left: none;
            border-bottom: none;
          }

          &:nth-child(3) {
            bottom: 0;
            right: 0;
            border-left: none;
            border-top: none;
          }

          &:nth-child(4) {
            bottom: 0;
            left: 0;
            border-right: none;
            border-top: none;
          }
        }
      }

      > span {

        > svg {
          height: 36px;
          fill: var(--color-a);
          padding-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 370px) {

  .PageHeader {

    &__header {

      &-particle {
        display: none;
      }

      &-heading {
        padding: 0;

        &-corners {
          display: none;
        }
      }
    }
  }
}